body{
font-family: Poppins;
background:#111;
color:white;
padding:20px;
}

h1{
text-align:center;
}

input{
width:100%;
padding:10px;
margin-bottom:20px;
font-size:16px;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
border:1px solid #333;
padding:8px;
}

th{
background:#222;
}

tr:nth-child(even){
background:#1a1a1a;
}
